#start-page,
#details-page,
#search-page {
  display: none;
}

#start-page.open,
#details-page.open,
#search-page.open {
  display: block;
}

#cocktail-details h2 {
  text-transform: uppercase;
  color: #b22222;
  text-shadow: #777;
}

img {
  width: 400px;
}

.header-logo {
  display: block;
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
}

.nav-btn {
 margin-top: 5px;
}

.btn {
  margin-top: 2px;
}

#search-form {
 margin-top: 5px;
}